.Text {
  margin: 0 15px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: currentColor;
}

.LogoutBtn {
  margin-right: 15px;
  border-radius: 4px;
  background-color: rgb(203, 230, 253);
  cursor: pointer;
}

.LogoutBtn:hover,
.LogoutBtn:focus {
  background-color: rgb(241, 209, 229);
}
